.box{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px black;
    border:5px solid white;
}
.box1{
    background-color: red;
    position: relative;
    left: 450px;
    top: 80px;
   
}
.container{
    width:500px;
    height:500px;
    background-color:gray;
    position: relative;
    left: 400px;
}
.box2{
    background-color:rgb(215, 11, 89);
    position: absolute;
    left:100px;
    top:400px;
    
}
.displ{
    display:'flex';
    flex-direction: 'row';
}
.box3{
    background-color: yellow;
    position: absolute;
    right:100px;
    bottom:100px;
}
.box4{
    background-color: teal;
    position: fixed;
    top:300px;
    right: 10%;
}
.box5{
    background-color: purple;
    position: sticky;
    top:0;
}