body{
    font-family: Arial,sans-serif;
    
}
div{
background-color: lightgreen;
text-align: center;
padding:10px;
font-size: 25px;
width:800px;
}
#border-all{
    border:10px solid limegreen;
}
#border-single{
    border-top:10px solid limegreen;
}
#border-rounded{
    border: 15px solid limegreen;
    border-radius: 50px;
}
#border-rounde-two{
    border: 15px solid limegreen;
    border-radius: 60px 0 60px 0
}
#circle{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    background-color: blue;

    
}
#border-circle{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    background-color:limegreen;
    border: 15px double blue;
}
#border-frame{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px black;
    border-top: 25px solid greenyellow;
    border-bottom: 25px solid greenyellow;
    border-left: 35px solid darkgray;
    border-right: 35px solid darkgray;
}
#border-ring{
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    border:25px solid greenyellow;
    border-top: 25px solid greenyellow;
    border-bottom: 25px solid greenyellow;
    border-left: 80px solid darkgray;
    border-right: 80px solid darkgray;
    background:linear-gradient(45deg,blue,limegreen);
}
#youtube{
    height: 300px;
    width: 500px;
    box-shadow: 0 0 10px black;
    border-top: 25px solid greenyellow;
    border-bottom: 25px solid greenyellow;
    border-left: 80px solid darkgray;
    border-right: 80px solid darkgray;

}
