.register-div{
    font-family: Arial,sans-serif;
    background: linear-gradient(45deg,blueviolet,deeppink);
    width:300px;
    color:white;
    padding:15px;
    margin: 50px auto;
}
.register-div h2{
    font-size: 30px;
    text-align: center;
    margin:10px;
}
.form-group lable{
    display: block;
    margin:10px 0;

}
.form-control{
    font-size: 18px;
    height: 35px;
    outline: none;
    border: none;
    width: 290px;
}
.register-btn{
    margin: 15px 0;
    background: linear-gradient(45deg,blueviolet,deeppink);
    color:white;
    padding: 10px 25px;
    font-size: 18px;
    width: 290px;
    border:none;
    box-shadow: 0 5px 10px black;
}
.fa-user-circle{
    font-size: 80px;
    display: block;
   text-align: center;
   border: 10px solid deeppink;
   width:80px;
   height:80px;
    margin:auto;
    margin-top: -50px;
    background-color: deeppink;
    border-radius: 50%;
    box-shadow: 0 0 5px;
}